Repository TMF3/TMF, pull requests merged in 2018-04, with the labels that each got.

#195 Allow setting custom text on the animated mission outro.
  addons/common/CfgEventHandlers.hpp
  addons/common/CfgFunctions.hpp
  addons/common/functions/fn_initDisplayDebriefing.sqf
Labels: WIP

#205 Make the wave spawner support the vehicle customization
  addons/ai/functions/fn_spawnWave.sqf
  addons/ai/functions/fn_waveInit.sqf
Labels: Needs testing

#214 AutoTest: Add checking for goggles config for backpackItems
  addons/autotest/functions/fn_testGear.sqf
Labels: bug fix

#216 Allow sideLogic units (virtual entities) to have briefings.
  addons/briefing/Cfg3DEN.hpp
  addons/briefing/ui_scripts/BriefingSettings.sqf
  addons/common/functions/fn_sideToString.sqf
  addons/common/functions/fn_sideToTexture.sqf
Labels: enhancement
