Repository TMF3/TMF, pull requests merged in 2019-01, with the labels that each got.

#245 Improve Quick Respawn
  addons/adminmenu/functions/fn_utility_quickRespawn_local.sqf
Labels: bug fix, enhancement

#254 Add respawn UI to TMF admin menu.
  addons/adminmenu/CfgFunctions.hpp
  addons/adminmenu/functions/fn_respawn.sqf
  addons/adminmenu/functions/fn_respawn_addAction.sqf
  addons/adminmenu/functions/fn_respawn_factionCategoryChanged.sqf
  addons/adminmenu/functions/fn_respawn_factionChanged.sqf
  addons/adminmenu/functions/fn_respawn_mapClick.sqf
  addons/adminmenu/functions/fn_respawn_mapDrawIcons.sqf
  addons/adminmenu/functions/fn_respawn_mapKeyUp.sqf
  addons/adminmenu/functions/fn_respawn_mapLoaded.sqf
  addons/adminmenu/functions/fn_respawn_refreshFactionCategory.sqf
  addons/adminmenu/functions/fn_respawn_refreshGroupBox.sqf
  addons/adminmenu/functions/fn_respawn_refreshSpectatorList.sqf
  addons/adminmenu/functions/fn_respawn_removeAction.sqf
  addons/adminmenu/functions/fn_respawn_respawnButton.sqf
  addons/adminmenu/functions/fn_respawn_toggleSpectatorVOIP.sqf
  addons/adminmenu/gui/adminMenu.hpp
  addons/adminmenu/gui/respawn.hpp
  addons/adminmenu/script_component.hpp
  addons/orbat/functions/fn_setup.sqf
  addons/respawn/XEH_postInit.sqf
  addons/respawn/functions/fn_respawnLocalClient.sqf
  addons/respawn/functions/fn_respawnWaveServer.sqf
Labels: New feature, bug fix, enhancement

#256 Improve equipment briefing for vehicles, units with UGLs
  addons/briefing/functions/fn_unitPage.sqf
  addons/briefing/functions/fn_vehiclePage.sqf
Labels: enhancement
