Repository TMF3/TMF, pull requests merged in 2020-10, with the labels that each got.

#392 Fixes bug where spectator seagull would persist
  addons/spectator/functions/fnc_init.sqf
Labels: bug fix

#394 Integrate ACRE Radio Spectator functionality
  addons/acre2/XEH_postInit.sqf
  addons/acre2/XEH_preInit.sqf
  addons/acre2/config.cpp
  addons/acre2/script_component.hpp
  addons/spectator/dialog.hpp
  addons/spectator/functions/fnc_init.sqf
  addons/spectator/functions/fnc_menuHandler.sqf
  addons/spectator/functions/fnc_onLoad.sqf
  addons/spectator/functions/fnc_toggleUI.sqf
  addons/spectator/script_component.hpp
Labels: New feature, spectator

#395 Swap variable sync to CBA events
  addons/common/XEH_postInit.sqf
  addons/common/XEH_preInit.sqf
Labels: bug fix

#402 Removed cascap
  addons/cascap/$PBOPREFIX$
  addons/cascap/CfgEventHandlers.hpp
  addons/cascap/CfgVehicles.hpp
  addons/cascap/XEH_PREP.sqf
  addons/cascap/XEH_preInit.sqf
  addons/cascap/XEH_preStart.sqf
  addons/cascap/config.cpp
  addons/cascap/functions/fnc_init.sqf
  addons/cascap/functions/fnc_serverInit.sqf
  addons/cascap/script_component.hpp
Labels: cascap
